# Compilación de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Directorios de entorno virtual
venv/
env/
.virtualenv/

# Archivos de configuración local
*.env
.env
.env.*

# VS Code
.vscode/

# Sublime Text
*.sublime-workspace

# Archivos generados por pip
*.egg
*.egg-info/
dist/
build/

# Caché de Flask
__pycache__/
.flaskenv

# Migraciones de Flask-Migrate (pueden estar en versiones iniciales)
migrations/
